.dropdown {

  margin-left: 2em;

  .is-active {
    color: var(--color-primary);
  }

  .dropdown-content {
    background-color: var(--color-bg);
  }

  .dropdown-item {
    background-color: inherit;

    color: var(--color-contrast-high);
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.375rem 1rem;
  }

  .dropdown-divider {
    background-color: var(--color-contrast-low);
    border: none;
    display: block;
    height: 1px;
    margin: 0.2em 0;
  }

  a.dropdown-item:hover {
    color: var(--color-primary);
    background-color: var(--color-contrast-lower);
  }

  .dropdown-menu {
    box-shadow: var(--shadow);
    border: 1px solid var(--color-contrast-low);
  }

  hr.dropdown-divider:first-child {
    display: none;
  }

  .is-section {
    font-weight: var(--weight-bold);
  }

  i.up {
    display: none;
  }

  i.down {
    display: block;
  }

  &.is-active {
    i.up {
      display: block;
    }

    i.down {
      display: none;
    }
  }
}

[data-theme="dark"] .dropdown {

  button.button {
    border: 1px solid var(--color-contrast-medium);
  }

  .dropdown-menu {
    background-color: var(--color-contrast-lower);
    border: 1px solid var(--color-contrast-medium);

    .dropdown-divider {
      background-color: var(--color-contrast-medium);
    }

    .dropdown-content {
      background: inherit;

      .dropdown-item {
        color: var(--color-contrast-medium);
      }

      .dropdown-item:hover {
        color: var(--color-contrast-higher);
        background-color: var(--color-contrast-low);
      }

      a.is-active {
        background-color: inherit;
        color: var(--color-primary);
      }
    }


  }


  .button {
    color: var(--color-contrast-high);
    border-color: var(--color-contrast-low);

    &:hover {
      color: var(--color-contrast-higher);
      border-color: var(--color-contrast-higher);
    }
  }
}