@charset "utf-8";

@supports(--css: variables) {
  :root {
    --transition-duration-normal: 0.6s;
    --transition-duration-fast: 0.25s;
    --transition-duration-slow: 1.2s;
    --transition-timing-function: ease;
    --weight-extrabold: 800;
    --code-font-size: 0.875em;
    --shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
    --code-light-default: #373942;
    --code-font-size: 0.875em;
    --code-padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    --code-block-padding: 30px;
    --code-block-border-radius: 3px;
    --content-list-item-margin: 0.6em 0 0.6em 0;
    --section-padding: 2rem 1.5rem;
    --shadow-low: 0 1px 3px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1), 0 2px 1px -1px rgba(0,0,0,0.12);
  }
}

// Margin and padding helpers
/////////////////////////////
// https://github.com/jgthms/bulma/issues/451

$space-sizes: (0,10,15,20,25,30,40,50,60,70,80,90,100);
$positions: ('top','left','bottom','right');

@each $space-size in $space-sizes {
  @each $position in $positions {
    .m#{str-slice($position, 0, 1)}-#{$space-size} {
      margin-#{$position}: $space-size + px;
    }
    .p#{str-slice($position, 0, 1)}-#{$space-size} {
      padding-#{$position}: $space-size + px;
    }
  }
}