{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
    {{ partial "navbar.html" . }}
    {{ partial "breadcrumb.html" . }}
    {{ partial "navigation.html" . }}
    <div class="section main">
      <div class="container">
          <div class="columns is-desktop">
          <div class="column is-one-fifth is-hidden-fullscreen">                        
            {{ partial "treemenu.html" . }}
          </div>
          <main class="column is-three-fifths is-full-touch content is-fullscreen">
              {{ .Content }}
          </main>
          <div class="column is-one-fifth is-hidden-fullscreen is-hidden-touch">
              {{ partial "tableofcontents.html" . }}
          </div>
        </div>
      </div>
    </div>
      {{ partial "footer.html" . }}
{{ end }}

{{ define "scripts" }}
  {{ partial "scripts.html" . }}
{{ end }}